/* -----------------------------------------------------------------------------
*	      							$LAYOUT
*  ----------------------------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #38383857, #3838389b),
    url(./src/bg-body.jpeg);
  background: -webkit-linear-gradient(to right, #3838389b, #3838389b),
    url(./src/bg-body.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.25rem;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-login {
  height: 50vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
}
.header {
  padding: 20px 0;
  font-size: 30px;
}
.container-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
button,
input {
  width: 300px;
  height: 30px;
}
.forgot-pass{
  padding-top: 100px;
}